.Header {
  box-sizing: border-box;
  background-image: url(../../assets/capa1.jpeg);
  width: 100%;
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  background-attachment: fixed;
}

.Header__info {
  display: flex;
  flex-direction: column;
  max-width: 960px;
  width: 100%;
  margin: auto;
  height: 670px;
  padding-top: 90px;
  justify-content: center;
}

.Header__box {
  width: 360px;
  padding: 20px;
}

.Header__name {
  color: #fff;
  font-size: 140px;
  text-shadow: 1px 1px 2px #777;
  font-family: 'Allura', cursive, Arial, Helvetica, sans-serif;
  margin-bottom: 0px;
  transition: .6s;
}

.Header__description {
  font-size: 18px;
  color: #fff;
  margin-bottom: 5px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #ed4b82;
  margin: 0;
  text-align: center;

}

.Header__btn {
  outline: none;
  background: none;
  border: none;
  color: #fff;
  margin-top: 30px;
  font-size: 18px;
  font-weight: bold;
  border: 2px solid #fff;
  padding: 10px 30px;
  transition: .4s;
}

.Header__btn:hover {
  background-color: #ed4b82;
  border: 2px solid #ed4b82;
  transition: .6s;
}

@media screen and (max-width: 670px) {
  .Header__box {
    width: auto;
    padding: 10px;
  }

  .Header__name {
    font-size: 68px;
  }

  .Header__description {
    font-size: 14px;
  }
}