/* Import de icones */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css');

/* Import de fontes */
@import url('https://fonts.googleapis.com/css2?family=Poiret+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

body {
  background-color: #fafafa;
  margin: 0;
}

::selection {
  background: #f48eb1;
}

.content {
  max-width: 960px;
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}